
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
  
*{
box-sizing: border-box;
border-radius:5px;
}



body {
  color:lightgray;
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display';
  background-color: rgba(0,0,0,.6);
background-image:url(../images/mountains.jpg);
background-size:cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-blend-mode: multiply;
}

.navbar {
  display: flex;
  
  z-index: 100;
  top: 0;
  min-height: 100px;
  max-height: auto;
  
  position: fixed;
  width: 100%;

  align-items: center;
}
.navbar-brand {
  margin: 0 25px;
  color:lightgray;
  
  padding:.5em;
}


.navbar-toggler-icon{
  background-color:lightgray;
}

.nav-link {
  color:lightgray;
  font-weight: bold;
  margin: 0 25px;
  
}

section {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: fit-content;
}

#welcome-section {
  display: block;

  align-items: center;
  justify-content: center;
}
.heading-box {
  display: flex;
  text-align: center;
  background-color: inherit;
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#heading {
  background-color: inherit;
  animation-name: fade-in-h;
  animation-duration: 1.5s;
  position: relative;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  margin: 0 auto;
  padding: 0 auto;
}

#pic-box {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}

#profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0 auto;
  animation: fade-in-p 1.5s;
}

@keyframes fade-in-h {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-p {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
#personal-info {
  border-top: solid gray;
  border-bottom: solid gray;
  text-align: center;
  justify-content: center;
  width: 80%;

  

  line-height: 1.8em;
  margin: 5% auto;
}
h2 {
  margin: 3% 0 1.5% 0;
}
h4 {
  margin-bottom: 3%;
}

#tech-stack {
  display: flex;

  justify-content: space-evenly;
  margin: 2em auto;
  
  width: 80%;
  height: auto;
}
.card{
  margin:.5em;
  background-color: transparent;
  border:none;
  color:lightgray;
  max-width:900px;
 
  
}
.card p{
  line-height: 2em;
  text-indent:30px;
  font-size:large;
    
  
  
}
.text-wrapper{
  display:flex;
    padding:0 3em;
    margin:0 auto;
    justify-content: center;
}

.card-img-top {
  width:100%;
  height: 100%;
  max-height:100px;
  max-width:100px;
  margin:0 auto;
  
  
  
  
}

.sub-heading {
  border-bottom: solid gray 2px;
  border-top: solid gray 2px;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color:lightgray;
}

a:hover {
  background-color: gray;
}
h1 {
  text-align: center;
  background-color: inherit;
  margin: 0;
  padding: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  padding: 0;
  text-align: center;
}

.project-tile {
  display: block;
  justify-content: center;
  position: relative;
  border-radius:5px;
}

.project-image {
  z-index: 1;
  height: 300px;
  width: 100%;
  border: solid black 1px;
  
}

.overlay {
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  background-color: gray;
  align-items: center;
  text-align:center;
  
}

.project-tile:hover .overlay {
  opacity: 0.96;
}
.project-description {
  text-align:center;
  margin:0 auto;
  padding: 0 25px;
  font-size: 19px;
}

.title-box {
  margin-top: 10px;
}
.project-title {
  font-family: inherit;
  font-weight: bold;
  color:lightgray;
  border-radius:5px;
  padding:.5em;
}
.project-title:hover{
  color:black;
}

#contact-form {
  background-color: whitesmoke;
  margin: 0 auto 50px;
  height: auto;
  width: 70%;
  max-width:600px;
  border: solid black 1px;
  padding: 20px;
  
}



.form-group {
  
  margin: 10px auto;
  max-width: 500px;
  height:auto;
  padding: 5px 0;
  
}

#form-group-button{
  display:flex;
  justify-content: center;  
}

.form-control{
    
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid ;
    border-radius:.25rem;
    border-color:#dbe3ec;
    
}

label{
    display:flex;
    margin-bottom: 0.5rem;
    color:gray;
}


button{
    
    padding:10px;
    font-size:16px;
    font-family: inherit;
    border-color:#dbe3ec;
    border-radius:.25rem;
   
    background-color:#dbe3ec;
    color:gray; 
    

}

button:hover{
    opacity:75%;
}

button:active{
    opacity:100%;
}

#comments{
  height:100px;
}




.contact-tile {
  display: flex;
  justify-content: center;
  padding-bottom:50px;
}
.contact-image {
  width: 100px;
  height: auto;
  margin: 10px;
}
.contact-title{
  font-family: inherit;
  font-weight: bold;
  color: black;
}
@media (max-width: 1200px) {
  section {
    height: fit-content;
  }
}

@media (max-height: 500px) {
  section {
    height: fit-content;
    padding-top: 100px;
  }
}

@media (max-width: 900px) {
  #profile-pic {
    width: 85%;
    height: auto;
  }

  .project-image {
    width: 85%;
  }

  section {
    height: fit-content;
    padding-top: 75px;
  }
}

@media (max-width: 400px) {
  .project-image {
    width: 85%;
  }
  #profile-pic {
    width: 85%;
    height: auto;
  }

  section {
    height: fit-content;
    padding-top: 75px;
  }
}
