/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Cinzel', serif;
  color: lightgray;
}

/* Entire body and background*/
body::before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../images/mountains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
}

/* Navigation Bar*/
.navbar {
  display: block;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-transition: top 0.6s;
  transition: top 0.6s;
}
.navbar-brand {
  margin: 0 25px;
  color: lightgray;
  border-radius: 1.5em;
  padding: 15px;
}
.navbar-brand:hover {
  background-color: gray;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 211, 211, 211, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.nav-link {
  color: lightgray;
  border-radius: 1.5em;
  margin: 0 25px;
  padding:15px;
}
.nav-link:hover {
  background-color: gray;
  
}

/* Profile pic and welcome heading*/
#welcome-section {
  display: block;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: inherit;
  height: 14em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top:4em;
  
}

#heading {
  background-color: inherit;
  position: relative;
  margin:0 auto;
  padding: 0 auto;
  text-align: center;


  /*animation-name: fade-in-h;
  animation-duration: 1.7s;
  animation-iteration-count: 1;
  animation-timing-function: linear;*/
  
}

#pic-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  margin:0 auto ;
  padding: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0 auto;
  -webkit-animation: fade-in-p 1.5s;
          animation: fade-in-p 1.5s;
}

@-webkit-keyframes fade-in-h {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-h {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-p {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-p {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/* Name and Title below profile pic*/
#personal-info {
  border-top: solid gray;
  border-bottom: solid gray;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;

  line-height: 1.8em;
  margin: 5% auto;
}

/* Icons for tech stack*/
#tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2em auto;
  width: 80%;
  height: auto;
}

.tech{
  display:block;
  margin:auto;
  position: relative;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.tech:hover {
  
  -webkit-transform: rotate(360deg);
  
          transform: rotate(360deg)
}
.card p {
  line-height: 2em;
  text-indent: 30px;
  font-size: 1.2em;
  
  
}
/* My Bio*/
.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 3em;
  opacity:80%;
  margin: 0 .5em;
  border-radius: none;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;} 

.bio{
  color:black;
  margin:0;
  
}


/* Projects Section*/
.projects-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;

  padding: 0;
  text-align: center;
}

.project-tile {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 5px;
}




.project-image {
  
  z-index: 1;
  height: 300px;
  width: 100%;
  border-top: solid gray 30px;
  border-bottom: solid gray 30px;
  border-left: solid gray 15px;
  border-right: solid gray 15px;
}



.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project-tile:hover .overlay {
  
  opacity: 1;
  
}
.project-description {
  text-align: center;
  margin: 0 auto;
  padding: 0 25px;
  font-size: 19px;
}

.title-box {
  margin: 20px 0;
}
.project-title {
  font-family: inherit;
  border-bottom: solid gray 2px;
  border-top: solid gray 2px;
  color: lightgray;
  border-radius: 5px;
  padding: 0.5em;
}
.project-title:hover {
  color: black;
  background-color:gray;
  
}
.title-box:hover{
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

/* Contact Form*/
#contact-form {
  background-color: gray;
  margin: 0 auto 50px;
  height: auto;
  width: 70%;
  max-width: 600px;

  padding: 20px;
}

.form-group {
  margin: 10px auto;
  max-width: 500px;
  height: auto;
  padding: 5px 0;
}

#form-group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control {
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid;
  border-radius: 1.5em;
  border-color: #dbe3ec;
}

#comments {
  height: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: none;
}

/* Contact Links at bottom*/
.contact-tile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}
.contact-tile {
  margin: 10px;
}
.contact-image {
  width: 70px;
  height: auto;
  margin-bottom: 12px;
}
.contact-title {
  font-family: inherit;
  font-size: smaller;
  border-radius: 1.5em;
  padding: 0.2em;
}
.contact-title:hover {
  background-color: gray;
  color:black;
}

/* Generic Elements and multi-section classes*/
h2 {
  margin: 3% 0 1.5% 0;
}
h4 {
  margin-bottom: 3%;
}

.sub-heading {
  border-bottom: solid gray 2px;
  border-top: solid gray 2px;
}
.heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: inherit;
  height: 19em;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  
}
section {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card {
  margin: 0.5em;
  background-color: transparent;
  border: none;
  color: lightgray;
  
}


.card-img-top1 {
  width: 100%;
  height: 100%;
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: lightgray;
}

a:hover {
  color: black;
}


label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  color: gray;
}
.labels {
  color: lightgray;
}
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: none;
}

button {
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  border-color: transparent;
  border-radius: 10px;
  background: lightgray;

  color: black;
}

button:hover {
  border-color: black;
}

button:active {
  opacity: 50%;
}

/* Media Queries*/
@media (max-width: 1200px) {
  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-height: 500px) {
  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    
  }
}

@media (max-width: 900px) {
  #profile-pic {
    width: 85%;
    height: auto;
  }

  .project-image {
    width: 85%;
  }

  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    
  }
}

@media (max-width: 450px) {
  .project-image {
    width: 85%;
  }
  #profile-pic {
    width: 85%;
    height: auto;
  }
  .heading-box{
    height:10em;
  }
  .main-heading-box{
    
    height:10em;
  }
#welcome-section{
  padding-top:40px;
}
  section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    
  }
}